//BG colors
$body-bg: url("~Images/bg-image.png") no-repeat center center, linear-gradient(92.84deg, #00A5FA -2.98%, #006CC0 100%);
$frame-bg: #FFFFFF;
$frame-header-bg: rgba(0, 43, 126, .8);
$list-item-selected-bg: rgba(0, 150, 242, .1);
$separator-bg: #F2F2F2;

//Text colors
$default-dark-txtc: #1D2335;
$default-light-txtc: #FFFFFF;
$default-blue-txtc: #0096F2;
$adv-dark-grey-txtc: #677687;
$success-txtc: #00C853;
$fail-txtc: #F2291F;

//Buttons colors
$abtn-light-color: #FFFFFF;
$inactive-btn-bg: #D3DBE8;
$active-btn-bg: #00C853;

//Links colors
$default-lnk-clr: #006DA3;